ul{
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}
li{
    display: flex;
    flex-direction: row(2);
}
.title1{
    height: 60px;
    background-color: #858585;
    font-size: 16px;
    line-height: 60px;
    padding-left: 25px;
    margin: 0px;
}
.title2{
    height: 100px;
    width: 100px;
    font-size: 17px;
    background-color: #d6d6d6;
    border-bottom: 1px solid white;
    line-height: 100px;
    text-align: center;
    margin: 0px;
}
.content{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-left: 10px;
}
p{
    display: inline-block;
    margin: 0px;
}
.title3{
    display: inline-block;
    font-weight: 800;
}
.info{
    margin-right: 15px;
}
.margintop{
    margin-top: 15px;
}
.nextline{
    display: block;
}